{% extends 'orders/base.html' %}

{% block title %}
	Редактирование заказа № {{ order_update.pk }}
{% endblock %}
{% block body %}
	<h1>Редактирование заказа № {{ order_update.pk }}</h1>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Обновить</button>
        </form>
    </div>
    <div><p>
    <p><a href="{% url 'orders:order_detail' pk=order_update.pk %}">Назад к заказу №{{ order_update.pk }}</a></p>
    </div>
{% endblock %}